main{
    display: grid;
    grid-template-columns: 40% auto;
    height: 100vh;
    position: relative;
    // overflow: hidden;
    @media screen and (max-width:764px){
        grid-template-columns: 1fr;
    }
    .side_image{
        background-image: url("../../imgs/smiling.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        img{
            padding: 50px;
        }
        .details{
            padding: 50px;
            top: 55%;
            position: absolute;
            h4{
                font-weight: 500;
                font-size: 28px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                margin-bottom: 15%;
            }
            small a{
                color: #FFFFFF;
                text-decoration: underline;
            }
            .next{
                background: #0F24AA !important;
                border:1px solid #0F24AA !important;
                color: white;
            }
        }
    }
    .body{
        padding-left: 15%;
        padding-right: 15%;
        height: 100vh;
        @media screen and (max-width:764px){
            padding-left: 9%;
            padding-right: 9%;
        }
    }
}